.Chat {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.Chat__topBarWrapper {
  width: 100%;
  height: 50px;
  background-color: #fefefe;
  position: fixed;
  top: 0;
}

.Chat__topBar {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.Chat__topBar--back {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Chat__topBar--userSection {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 70%;
}

.Chat__topBar--userImg img {
  width: 36px;
  height: 36px;
  border-radius: 100%;
}

.userInfo--firstName {
  font-weight: bold;
}

.userInfo--username {
  color: #00000066;
}

.Chat__topBar--actions {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.Chat__messages {
  margin: 50px 0;
  height: calc(100% - 100px);
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
  padding: 10px;
}

.Chat__message {
  width: fit-content;
  max-width: 70%;
  padding: 8px;
  background-color: #efefef;
  border-radius: 20px;
}

.Chat__message.otherUser {
  align-self: flex-start;
  background-color: transparent;
  border: 1px solid #efefef;
}

.Chat__newMessageWrapper {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 10px;
}

.Chat__newMessage {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.Chat__newMessage--camera {
  position: absolute;
  left: 20px;
}

.Chat__newMessage--input {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #e3e3e3;
  padding: 5px 10px 5px 55px;
}

.Chat__newMessage--input:focus {
  border: 1px solid #00000066;
  outline: none;
}
