.Topbar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 50px;
  background-color: #fafafa;
  box-shadow: 0 0.33px 0 #a6a6aa;
  z-index: 10;
}

.Topbar__nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.Topbar__Logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Topbar__Actions {
  display: flex;
  gap: 18px;
  align-items: center;
}
