.Post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.Post > * {
  padding: 10px;
}

.Post__Content {
  padding: 0;
  width: 100vw;
  height: auto;
}

.Post__Content img {
  width: 100vw;
  height: auto;
  object-fit: cover;
}

.Post__Top {
  width: 100%;
  /* padding: 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Post__Top-userInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.Post__Top-userInfo img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.username {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}

.Post__Bottom {
  width: 100%;
}

.Post__Bottom-likes,
.Post__Bottom-description {
  padding: 5px 0;
}

.Post__BottomBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.BottomBar__reactions {
  width: 33.33%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Post__Bottom-likes span,
.Post__Bottom-description span:first-child {
  font-weight: bold;
}

.Post__Content .swiper-pagination-bullet-active {
  background-color: white;
}

.Post__Content .swiper-pagination-bullet-active-next,
.Post__Content .swiper-pagination-bullet-active-prev {
  background-color: rgba(255, 255, 255, 0.9);
}
